* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(176, 159, 221);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pal {
  width: 40rem;
  background-color: rgb(237, 237, 242);
  padding: 5rem 3rem;
  border-radius: 10px;
}

input {
  border: none;
  outline: none;
  width: 70%;
  border-bottom: 2px solid black;
  padding: 1rem 5px;
  font-size: 1.6rem;
}

button {
  margin-left: 10px;
  width: 100px;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 5px solid gray;
  background-color: aqua;
}

p.result {
  border: 2px solid salmon;
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: darkblue;
}
